.card {
  height: 27rem;
  width: 48rem;
  display: flex;
  box-shadow: #716D7C 4px 4px 4px;
  background-color: #FCF7FC;
  color: black;
  overflow: hidden;
  border-radius: 8px;
}

.card--odd {
  margin-right: auto;
  margin-left: 4rem;
}

.card--even {
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: 4rem;
}

.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem; 
  padding: 2rem 0;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.right {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
