.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #5B4B8B;
    display: flex;
    align-items: center;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
  }
  
  .navbar__logo {
    height: 100%;
    margin-left: 5rem; 
    cursor: pointer; /* aggiungere il bottone */
  }

.navbar__links {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: auto; 
    margin-right: 0;
    color: #E7E4F0;
}

.navbar__links > div {
  display: flex;
  height: 100%;
  width: 8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* aggiungere il bottone */
}


.navbar__links > div:hover {
    background-color: #AFA4CE;
    color: #5B4B8B;
}
