h1,  h2,  h3,  h4,  h5,  h6 {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

 p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1 {
  font-size: 70px;
  font-weight: 300;
}

h4 {
  font-size: 37px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
